<!--<md-toolbar color="primary">-->
  <!--<span>GameViewer</span>-->
  <!--<span class="spacer"></span>-->
  <!--<button md-icon-button [mdMenuTriggerFor]="menu">-->
    <!--<md-icon>more_vert</md-icon>-->
  <!--</button>-->
  <!--<md-menu #menu="mdMenu">-->
    <!--<button md-menu-item>-->
      <!--<md-icon>fingerprint</md-icon>-->
      <!--<span>Login</span>-->
    <!--</button>-->
    <!--<button md-menu-item disabled>-->
      <!--<md-icon>announcement</md-icon>-->
      <!--<span>Issues</span>-->
    <!--</button>-->
    <!--<button md-menu-item>-->
      <!--<md-icon>notifications_off</md-icon>-->
      <!--<span>Disable alerts</span>-->
    <!--</button>-->
  <!--</md-menu>-->
<!--</md-toolbar>-->


<!--<div class="app-content">-->
  <!--<md-toolbar color="primary" [style.width.%]="100" [style.height.px]="50">-->
    <!--App-->
  <!--</md-toolbar>-->
  <!--<md-card>-->
    <!--<button md-button>FLAT</button>-->
    <!--<button md-raised-button>RAISED</button>-->
  <!--</md-card>-->
  <!--<md-card>-->
    <!--<button md-icon-button>-->
      <!--<md-icon class="md-24">favorite</md-icon>-->
    <!--</button>-->
    <!--<button md-fab>-->
      <!--<md-icon class="md-24">add</md-icon>-->
    <!--</button>-->
    <!--<button md-mini-fab>-->
      <!--<md-icon class="md-24">add</md-icon>-->
    <!--</button>-->
  <!--</md-card>-->
  <!--<md-card>-->
    <!--<button md-raised-button color="primary">PRIMARY</button>-->
    <!--<button md-raised-button color="accent">ACCENT</button>-->
    <!--<button md-raised-button color="warn">WARN</button>-->
  <!--</md-card>-->
  <!--<md-card>-->
    <!--<button md-button disabled>OFF</button>-->
    <!--<button md-raised-button disabled>OFF</button>-->
    <!--<button md-mini-fab disabled><md-icon>check</md-icon></button>-->
  <!--</md-card>-->
<!--</div>-->

<md-toolbar color="primary">

  <span>MyCompany</span>
  <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>

</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>
